<div id="building-<%= building.id %>" class="popup">
  <div class="popup-content building-popup">
    <a href="#" class="close-button" data-turbo="false">X</a>
    <h4 class="title" style="background-color: <%= building.color %>">
      <%= building.name %>
    </h4>
    <%= level_color_span(building.level, building.level_name) %>
    <span class="created-by">Created by <%= building.created_by.name %></span>
    <p class="description"><%= building.description %></p>
    <fieldset id="inventory">
      <legend>Building Inventory</legend>
      <%= turbo_frame_tag 'building-inventory', src: inventory_building_path(building) do %>
        <%= render partial: 'buildings/building_inventory', locals: { building: building } %>
      <% end %>
    </fieldset>
    <fieldset id="sales-listings">
      <legend>Sales Listing</legend>
      <%= turbo_frame_tag 'building-sales-listing', src: listings_path(building) do %>
        <%= render partial: 'buildings/building_sales_listing', locals: { building: building } %>
      <% end %>
    </fieldset>
  </div>
</div>
