<input type="radio" id="radio-equipment" name="radios" value="equipment"
       <% if @active_control == 'equipment' %>
       checked="checked"
       <% end %>
         />
<div class="section equipment">
  <label for="radio-equipment" class="radio">E</label>
  <div class="section-content">
    <h4 class="section-title">Equipment</h4>
    <table>
      <tr>
        <td>Tool:</td>
        <td>
          <% if player.tool %>
            <%= level_color_span(player.tool.level, player.tool.full_name) %>
          <% end %>
        </td>
        <td>
          <% if player.tool %>
            <%= link_to 'X', unequip_tool_path, id: 'unequip_tool' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Vehicle:</td>
        <td>
          <% if player.vehicle %>
            <%= level_color_span(player.vehicle.level, player.vehicle.full_name) %>
            <% if player.vehicle.boosted? %>
              <span>(Happy)</span>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if player.vehicle %>
            <%= link_to 'X', unequip_vehicle_path, id: 'unequip_vehicle' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Instrument:</td>
        <td></td>
      </tr>
      <tr>
        <td>Clothes:</td>
        <td></td>
      </tr>
      <tr>
        <td>Pet:</td>
        <td>
          <% if player.pet %>
            <%= level_color_span(player.pet.level, player.pet.full_name) %>
          <% end %>
        </td>
        <td>
          <% if player.pet %>
            <%= link_to 'X', unequip_pet_path, id: 'unequip_pet' %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
