<div id="item-<%= item.id %>-details" class="popup">
  <div class="popup-content inventory-popup">
    <a href="#" class="button">X</a>
    <h4 class="title" style="background-color: <%= item.color %>">
      <%= item.name %>
    </h4>
    <% if item.equipable? %>
      <%= link_to 'Equip', equip_item_path(item), data: turbo_hash %><br />
    <% end %>
    <%= level_color(item.level, item.level_name) %>
    <span class="created-by">Created by <%= item.created_by.name %></span>
    <p class="description"><%= item.description %></p>
  </div>
</div>
