<div id="item-<%= item.id %>-details" class="popup">
  <div class="popup-content inventory-popup">
    <%= link_to 'X', game_path(active_control: 'inventory'), class: 'close-button', data: { turbo_target: '_top' } %>
    <h4 class="title" style="background-color: <%= item.color %>">
      <%= item.name %>
    </h4>
    <% if item.equippable? %>
      <%= link_to 'Equip', equip_item_path(item) %><br />
    <% end %>
    <% if item.useable? %>
      <%= link_to 'Use', use_item_path(item) %><br />
      <span>Recovers <%= item.energy %> energy</span><br />
    <% end %>
    <%= level_color_span(item.level, item.level_name) %>
    <span class="created-by">Created by <%= item.created_by.name %></span>
    <p class="description"><%= item.description %></p>
  </div>
</div>
