<div id="item-<%= item.id %>-details" class="popup">
  <div class="popup-content inventory-popup">
    <%= link_to 'X', game_path(active_control: 'inventory'), class: 'close-button', data: { turbo_target: '_top' } %>
    <h4 class="title <%= level_name item.level %>" style="
    border: 1px solid <%= item.color %>;
      box-shadow: inset 0 0 20px <%= item.color %>;
    ">
      <%= item.full_name %>
    </h4>
    <% if item.equippable? %>
      <%= link_to 'Equip', equip_item_path(item) %><br />
    <% end %>
    <% if item.useable? %>
      <%= link_to 'Use', use_item_path(item) %><br />
    <% end %>
    <%= level_color_span(item.level, item.level_name) %>
    <span class="created-by">Created by <%= item.created_by.name %></span>
    <p class="description"><%= item.description %></p>
    <%= link_to 'Drop Item', drop_item_path(item) %>
  </div>
</div>
