<div id="item-<%= item.id %>-details" class="popup">
  <div class="popup-content inventory-popup">
    <a href="#" class="close-button" data-turbo="false">X</a>
    <h4 class="title" style="background-color: <%= item.color %>">
      <%= item.name %>
    </h4>
    <% if item.equippable? %>
      <%= link_to 'Equip', equip_item_path(item) %><br />
    <% end %>
    <% if item.useable? %>
      <%= link_to 'Use', use_item_path(item) %><br />
    <% end %>
    <%= level_color_span(item.level, item.level_name) %>
    <span class="created-by">Created by <%= item.created_by.name %></span>
    <p class="description"><%= item.description %></p>
  </div>
</div>
