<span class="title">
    <span class="name" style="
    color: <%= @current_location.bg_color %>;
      <% if @current_location.highlight_color %>
      text-shadow: 0 0 4px <%= @current_location.highlight_color %>;
      <% end %>
    ">
      <%= @current_location.name %>
    </span>
    <span class="type">
      &lt;<%= @current_location.type %>&gt;
    </span>
  </span>
<p class="description"><%= @current_location.description %></p>
<div class="viewport"
     style="
     background-image: linear-gradient(to top, <%= @current_location.bg_color %>, #668cff);
       /*'#668cff'*/
     ">
  <% if @current_location.type == 'Wilderness' %>
    <%= image_tag 'earth_clear.png', class: 'background' %>
  <% else %>
    <%= image_tag 'house.png', class: 'background' %>
  <% end %>
  <div class="resources">
    <% @local_resources.each do |resource| %>
      <div class="resource <%= resource.pretty_type.downcase %> <%= level_name(resource.level) %>"
           style="background-color: <%= resource.color %>">
          <span class="name">
            <%#= resource.full_name %>
          </span>
      </div>
    <% end %>
  </div>
</div>
