<div id="player-<%= player.id %>-details" class="popup">
  <div class="popup-content player-popup">
    <%= link_to 'X', game_path(active_control: 'lifeforms'), class: 'close-button', data: { turbo_target: '_top' } %>
    <h4 class="title"><%= player.name %></h4>
    <table>

      <tr class="status">
        <td>Status:</td>
        <td class="status status-<%= player.status.downcase %>">
          <%= player.status %>
        </td>
      </tr>
      <% if player.tool %>
        <tr class="equipment">
          <td class="tool">Tool:</td>
          <td><%= level_color_span(player.tool.level, player.tool.name) %></td>
        </tr>
      <% end %>
      <% if player.vehicle %>
        <tr class="equipment">
          <td class="vehicle">Vehicle:</td>
          <td><%= level_color_span(player.vehicle.level, player.vehicle.name) %></td>
        </tr>
      <% end %>
      <% if player.pet %>
        <tr class="equipment">
          <td class="pet">Pet:</td>
          <td><%= level_color_span(player.pet.level, player.pet.name) %></td>
        </tr>
      <% end %>
      </tr>
    </table>
  </div>
</div>