<div class="chat-wrapper">
  <div class="chatbox">
    <ul>
      <% @local_messages.each do |message| %>
        <li>
          <%= message.user.name %>:
          <%= message.content %>
        </li>
      <% end %>
    </ul>
    <%= form_with(url: chats_path(@current_location), method: :post) do |form| %>
      <%= form.text_field :content, value: '', autocomplete: :off, autofocus: params[:chat_focus] %>
      <%= form.submit value: 'Send' %>
    <% end %>
  </div>
</div>
<table class="bars">
  <tr class="energy">
    <td class="title">E</td>
    <td class="bar">
      <div class="fill" style="width: <%= percentage(player.energy, User::MAX_ENERGY) %>;">
        <span class="value">
          Energy: <%= player.energy %>
        </span>&nbsp;
      </div>
    </td>
  </tr>
  <tr class="vitality">
    <td class="title">V</td>
    <td class="bar">
      <div class="fill" style="width: <%= percentage(player.vitality, User::MAX_VITALITY) %>;">
        <span class="value">
          Vitality: <%= player.vitality %>
        </span>&nbsp;
      </div>
    </td>
  </tr>
  <tr class="age">
    <td class="title">A</td>
    <td class="bar">
      <div class="fill" style="width: <%= percentage(player.age, User::MAX_AGE) %>;">
        <span class="value">
          Age: <%= player.age %>
        </span>&nbsp;
      </div>
    </td>
  </tr>
</table>
