<fieldset class="player-card">
  <legend><%= player.name %></legend>
  <div class="status">
    <span class="title">
      Status_
    </span>
    <span class="value status-<%= player.status.downcase %>">
      <%= player.status %>
    </span>
  </div>
</fieldset>
<table class="bars">
  <tr class="energy">
    <td class="title">E</td>
    <td class="bar">
      <div class="fill" style="width: <%= percentage(player.energy, User::MAX_ENERGY) %>;">
        <span class="value">
          Energy: <%= player.energy %>
        </span>&nbsp;
      </div>
    </td>
  </tr>
  <tr class="vitality">
    <td class="title">V</td>
    <td class="bar">
      <div class="fill" style="width: <%= percentage(player.vitality, User::MAX_VITALITY) %>;">
        <span class="value">
          Vitality: <%= player.vitality %>
        </span>&nbsp;
      </div>
    </td>
  </tr>
  <tr class="age">
    <td class="title">A</td>
    <td class="bar">
      <div class="fill" style="width: <%= percentage(player.age, User::MAX_AGE) %>;">
        <span class="value">
          Age: <%= player.age %>
        </span>&nbsp;
      </div>
    </td>
  </tr>
</table>
