<div class="game-content">
  <%= render partial: 'player_card' %>
  <%= render partial: 'game_menu' %>
  <%= render partial: 'location' %>
  <%= render partial: 'actions' %>
  <%= render partial: 'resources' if @local_resources.any? %>
  <%= render partial: 'equipment' %>
  <%= render partial: 'inventory' %>
</div>
