<div class="header">
  <%= render partial: 'game_menu' %>
  <%= render partial: 'player_card' %>
</div>
<div class="location">
  <%= render partial: 'location' %>
</div>
<div class="controls">
  <div class="radio-toolbar">
    <%= render partial: 'skills' %>
    <%= render partial: 'inventory' %>
    <%= render partial: 'equipment' %>
    <%= render partial: 'lifeforms' %>
    <%= render partial: 'resources' %>
    <%= render partial: 'buildings' %>
    <%= render partial: 'actions' %>
  </div>

</div>
