<div class="player-card">
  <h2><%= @current_user.name %></h2>
  <span>Energy: <%= @current_user.energy %></span>
  <span>Status: <%= @current_user.status %></span>
</div>

<fieldset class="location">
  <legend>Location</legend>
  <h3><%= @current_user.location.name %></h3>
  <p><%= @current_user.location.description %></p>
  <% if @local_players.any? %>
    <span>Local Players:</span>
    <ul>
      <% @local_players.each do |player| %>
        <li><%= player.name %></li>
      <% end %>
    </ul>
  <% end %>
</fieldset>

<fieldset class="inventory">
  <legend>Inventory</legend>
  <ul>
    <% @current_user.inventory.items.each do |item| %>
      <li><a href="#item-<%= item.id %>-details"><%= item.name %></a></li>
      <div id="item-<%= item.id %>-details" class="item-details">
        <div class="item-details-content">
          <h4><%= item.name %></h4>
          <a href="#">Close</a>
        </div>
      </div>
    <% end %>
  </ul>
</fieldset>

<fieldset class="actions">
  <legend>Actions</legend>
  <ul>
    <% @current_user.actions.each do |action| %>
      <li><%= action %></li>
    <% end %>
  </ul>
</fieldset>

<fieldset class="equipment">
  <legend>Equipment</legend>
  <ul>
    <% if @current_user.vehicle %>
      <li>Vehicle: <%= @current_user.vehicle.name %></li>
    <% end %>
  </ul>
</fieldset>

