<div class="game-content">
  <%= render partial: 'player_card' %>
  <%= render partial: 'game_menu' %>
  <%= render partial: 'location' %>
  <%= render partial: 'actions' %>
  <%= render partial: 'resources' %>
  <%= render partial: 'equipment' %>
  <%= render partial: 'inventory' %>
</div>
