<%= render partial: 'player_card' %>

<div class="fieldsets">

  <%= render partial: 'location_fieldset' %>

  <%= render partial: 'inventory_fieldset' %>

  <%= render partial: 'actions_fieldset' %>

  <%= render partial: 'equipment_fieldset' %>

</div>
