<%= render partial: 'player_card' %>

<div class="fieldsets">
  <%= render partial: 'location' %>
  <%= render partial: 'inventory' %>
  <%= render partial: 'resources' %>
  <%= render partial: 'actions' %>
  <%= render partial: 'equipment' %>

</div>
