<div id="<%= dom_id listing %>">
  <p>
    <strong>Item:</strong>
    <%= listing.item_id %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= listing.created_by_id %>
  </p>

  <p>
    <strong>Price type:</strong>
    <%= listing.price_type %>
  </p>

  <p>
    <strong>Price amount:</strong>
    <%= listing.price_amount %>
  </p>

  <p>
    <strong>Price level:</strong>
    <%= listing.price_level %>
  </p>

</div>
