<%= turbo_frame_tag 'dungeon-details' do %>
  <h1>Dungeon Run Results</h1>

  <ul>
  <% @results[:rooms].each do |room_name, room_result| %>
    <li>
      <span class="<%= level_name room_result[:room].level %>">
        <%= room_name %>
      </span>
      <p>
        <%= room_result[:room].intro_text %>
      </p>
      <%= room_result[:result] %>
    </li>
  <% end %>
    <li>
      <span><%= @results[:reward] %></span>
    </li>
  </ul>
<% end %>