<%= link_to('List Sale', new_listing_path(building)) %>
<table>
  <thead>
  <tr>
    <th>Listed By</th>
    <th>Item for Sale</th>
    <th>Price</th>
  </tr>
  </thead>
  <% building.listings.each do |listing| %>
    <tr>
      <td><%= listing.created_by.name %></td>
      <td>
        <%= listing.item.stack_amount %>x
        <span class="<%= Level.level_name(listing.item.level).downcase %>">
          <%= link_to listing.item.full_name, purchase_listing_path(building, listing) %>
        </span>
      <td>
        <%= listing.price_amount %>x
        <span class="<%= Level.level_name(listing.price_level).downcase %>">
          <%= listing.price_type %>
        </span>
      </td>
    </tr>
  <% end %>
</table>
