<% if building.permitted_user(@current_user) %>
  <%= link_to('List Sale', new_listing_path(building)) %>
<% else %>
  <span>Private Building</span>
<% end %>
<table>
  <thead>
  <tr>
    <th>Listed By</th>
    <th>Item for Sale</th>
    <th>Price</th>
  </tr>
  </thead>
  <% building.listings.each do |listing| %>
    <tr>
      <td><%= listing.created_by.name %></td>
      <td>
        <%= listing.item.stack_amount %>x
        <span class="<%= level_name(listing.item.level) %>">
          <%= link_to listing.item.full_name, purchase_listing_path(building, listing) %>
        </span>
      <td>
        <%= listing.price %><%= credit_symbol %>
      </td>
    </tr>
  <% end %>
</table>
