<%= link_to('List Sale', new_listing_path(building)) %>
<table>
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th colspan="3">Price</th>
  </tr>
  <tr>
    <th>Listed By</th>
    <th>Item for Sale</th>
    <th>Amount</th>
    <th>Level</th>
    <th>Type</th>
  </tr>
  </thead>
  <% building.listings.each do |listing| %>
    <tr>
      <td><%= listing.created_by.name %></td>
      <td><%= listing.item.full_name %></td>
      <td><%= listing.price_amount %></td>
      <td><%= Level.level_name listing.price_level %></td>
      <td><%= listing.price_type %></td>
    </tr>
  <% end %>
</table>
