<%= form_with scope: :recipe, url: craft_confirm_path do |f| %>
  <div>
    <%= f.label :item_type %>
    <%= f.collection_select :item_type, ItemType::CRAFTED.values, :to_s, :to_s %>
  </div>

  <ul>
    <% player.inventory.items.each do |item| %>
      <li class="<%= level_name(item.level) %>">
        <%= check_box('recipe', 'item_ids', { multiple: true }, item.id, nil) %>
        <%= label 'recipe_item_ids', item.id, "#{stack_amount(item)} #{item.full_name_level}" %>
      </li>
    <% end %>
  </ul>

  <%= f.submit 'Craft Item', data: {turbo: false} %>
<% end %>
