<div class="scrollable">

  <h1>Vision Board</h1>

  <%= link_to 'Return to Game', game_path %>
  <br />
  <br />

  <%= image_tag 'start.svg' %>
  <%= image_tag 'earth.png' %>
  <%= image_tag 'house.png' %>
  <%= image_tag 'home.svg' %>
  <%= image_tag 'home-1.svg' %>

</div>
