<!DOCTYPE html>
<html>
  <head>
    <title>Crafty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <%= turbo_frame_tag 'page' do %>
  <body class="<%= controller.controller_name%><%= current_user ? ' admin' : '' %>" data-turbo="false" >

  <% if notice %>
    <div class="notice">
      <div class="notice-popup">
        <%= notice&.html_safe %>
      </div>
    </div>
  <% end %>

    <div class="content">
      <%= yield %>
    </div>
  </body>
  <% end %>
</html>
