<!DOCTYPE html>
<html>
  <head>
    <title>Crafty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= controller.controller_name%><%= current_user ? ' admin' : '' %>"
    <%= render partial: 'layouts/game_background' %>
  >
    <%= render partial: 'layouts/header' %>

    <p id=”notice”><%= notice&.html_safe %></p>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
